doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    div Created by 
      a(href="https://github.com/MaxHlystov") Maksim Khlystov
      |, source code: 
      a(href="https://github.com/MaxHlystov/git_service_test") https://github.com/MaxHlystov/git_service_test
      |.
